body {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: beige;
}

a {
    font-style: italic;
    text-decoration: none;
    font-size: 1.5em;
    color:black;
}

.extreme{
    border: 3px solid gray;
}

#head1{
    background-color: gray;
    margin: 5%;
    padding: 5%;
}

#tehlulz {
    background-color: gray;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 2em;
}

ul {
    border: 0.25em double grey;
    padding: 5%
}

